.control-panel {
  margin: 1em;
  border:4px outset grey;
  background: light-grey;
  width: 40%;
  float: left;
}
.control-group {
  list-style:none;
  }
  
#inspector-wrapper {
  width:100%;
  clear:both;
  }
#inspector {
  width:75%;  
  float:left;
  }
